
# https://github.com/Klipper3d/klipper/issues/3199
[menu __main __octoprint]
type: list
name: OctoPrint
enable: False

[menu __main __sdcard]
type: list
name: SD Card
enable: False


[menu __main __pause]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Pause printing
gcode:
    PAUSE

[menu __main __resume]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Resume printing
gcode:
    RESUME

[menu __main __abort]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Abort printing
gcode:
    CANCEL_PRINT

[menu __main __temp __preheat_abs]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat ABS
gcode:
    M140 S110
    M104 S250

[menu __main __temp __preheat_pla]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat PLA
gcode:
    M140 S60
    M104 S215

[menu __main __temp __cooldown]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Cooldown
gcode:
    M104 S0
    M140 S0

[menu __main __temp __menuexit]
type: command
name: Exit Menu
gcode:
    {menu.exit()}

[menu __main __filament __loadf]
type: command
name: Load Filament
gcode: LOAD_FILAMENT

[menu __main __filament __loads]
type: command
name: Load Fil. slow
enable: False

[menu __main __filament __unloadf]
type: command
name: Unload Filament
gcode: UNLOAD_FILAMENT

[menu __main __filament __unloads]
type: command
name: Unload Fil.slow
enable: False

[menu __main __filament __wipe]
type: command
name: Wipe Nozzle
gcode: CLEAN_NOZZLE

[menu __main __filament __menuexit]
type: command
name: Exit Menu
gcode:
    {menu.exit()}

[menu __main __control __gql]
type: command
name: QGL
gcode: QUAD_GANTRY_LEVEL

[menu __main __control __bed_mesh]
type: command
name: Bed Mesh
gcode: BED_MESH_CALIBRATE

[menu __main __control __klicky_attach]
type: command
name: Klicky Attach
gcode: ATTACH_PROBE

[menu __main __control __klicky_attach_lock]
type: command
name: Klicky Attach L
gcode: ATTACH_PROBE_LOCK

[menu __main __control __klicky_dock]
type: command
name: Klicky Dock
gcode: DOCK_PROBE

[menu __main __control __klicky_dock_lock]
type: command
name: Klicky Dock L
gcode: DOCK_PROBE_LOCK

[menu __main __control __menuexit]
type: command
name: Exit Menu
gcode: {menu.exit()}
